{{ define "main" }}

<!-- start of changelog-section -->
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-in" data-aos-delay="100">
      <div class="col-lg-9">

        <div class="mb-5 pb-3">
          <h2 class="font-weight-bold mb-4 text-capitalize">{{.Title | markdownify}}</h2>
          <p>{{.Params.description | markdownify}}</p>
        </div>

        <div class="content changelog-content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of changelog-section -->

{{ end }}